# **Importing the libraries**

In [ ]:
import numpy as np
import pandas as pd
import math

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# **Importing the dataset**

In [ ]:
dataset = pd.read_csv('Data.csv')
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           683 non-null    int64
 1   Clump Thickness              683 non-null    int64
 2   Uniformity of Cell Size      683 non-null    int64
 3   Uniformity of Cell Shape     683 non-null    int64
 4   Marginal Adhesion            683 non-null    int64
 5   Single Epithelial Cell Size  683 non-null    int64
 6   Bare Nuclei                  683 non-null    int64
 7   Bland Chromatin              683 non-null    int64
 8   Normal Nucleoli              683 non-null    int64
 9   Mitoses                      683 non-null    int64
 10  Class                        683 non-null    int64
dtypes: int64(11)
memory usage: 58.8 KB

In [ ]:
dataset.describe()

       Sample code number  Clump Thickness  ...     Mitoses       Class
count        6.830000e+02       683.000000  ...  683.000000  683.000000
mean         1.076720e+06         4.442167  ...    1.603221    2.699854
std          6.206440e+05         2.820761  ...    1.732674    0.954592
min          6.337500e+04         1.000000  ...    1.000000    2.000000
25%          8.776170e+05         2.000000  ...    1.000000    2.000000
50%          1.171795e+06         4.000000  ...    1.000000    2.000000
75%          1.238705e+06         6.000000  ...    1.000000    4.000000
max          1.345435e+07        10.000000  ...   10.000000    4.000000

[8 rows x 11 columns]

In [ ]:
dataset.columns

Index(['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Class'],
      dtype='object')

# **Separating the data in dependent and independent variables**

In [ ]:
X = dataset[['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size','Uniformity of Cell Shape', 'Marginal Adhesion','Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin','Normal Nucleoli', 'Mitoses',]].values
y = dataset['Class'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# ***Training the XGBoost Model***

In [ ]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred = classifier.predict(X_test)

## ***Making the Confusion Matrix and the Classification report***

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
print('The Confusion Matrix : \n')
print(confusion_matrix(y_test,y_pred))

The Confusion Matrix :

[[84  3]
 [ 0 50]]

In [ ]:
print('The Classification Report : \n')
print(classification_report(y_test,y_pred))

The Classification Report :

              precision    recall  f1-score   support

           2       1.00      0.97      0.98        87
           4       0.94      1.00      0.97        50

    accuracy                           0.98       137
   macro avg       0.97      0.98      0.98       137
weighted avg       0.98      0.98      0.98       137

In [ ]:
print(accuracy_score(y_test,y_pred))

0.9781021897810219

## **Applying K-Fold Cross Validation**

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 96.53 %
Standard Deviation: 2.07 %

## **Applying Grid Search to find the best model and the best Parameters**

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [0.25, 0.5, 0.75, 1], 'kernel': ['linear']},
              {'C': [0.25, 0.5, 0.75, 1], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search.fit(X_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print(" Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:",best_parameters)

 Best Accuracy: 96.53 %
Best Parameters: {'C': 0.25, 'kernel': 'linear'}