## **Importing the Mathematical Libraries**

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

# **Importing the Graphical Libraries**

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# **Importing the Dataset**

In [ ]:
dataset = pd.read_csv("Market_Basket_Optimisation.csv", header= None)

# **Getting some information from the Dataset**

In [ ]:
dataset.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [ ]:
transactions = []

In [ ]:
for i in range (0,7501):
  transactions.append([str(dataset.values[i, j])for j in range(0, 20)])

# **Training the Apriori Model on the dataset**

In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [ ]:
from apyori import apriori

In [ ]:
rules = apriori(transactions= transactions, min_support = 0.003, min_confidence = 0.05, min_lift = 3, min_length = 2, max_length = 2)

# **Visualising the Results**

## **Displaying the first results coming directly from the output of the apriori function**

In [ ]:
results  = list(rules)
results

[RelationRecord(items=frozenset({'brownies', 'cottage cheese'}), support=0.0034662045060658577, ordered_statistics=[OrderedStatistic(items_base=frozenset({'brownies'}), items_add=frozenset({'cottage cheese'}), confidence=0.10276679841897232, lift=3.225329518580382), OrderedStatistic(items_base=frozenset({'cottage cheese'}), items_add=frozenset({'brownies'}), confidence=0.10878661087866107, lift=3.2253295185803816)]),
 RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'chicken'}), items_add=frozenset({'light cream'}), confidence=0.07555555555555556, lift=4.843950617283951), OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'escalope'}), items_add=frozenset({'mushroom cream sauce'}), confidence=0.0722689075630252, lift=3.7908326967150496), OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'escalope'}), items_add=frozenset({'pasta'}), confidence=0.07394957983193277, lift=4.700811850163794), OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'fresh bread', 'tomato juice'}), support=0.004266097853619517, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fresh bread'}), items_add=frozenset({'tomato juice'}), confidence=0.09907120743034055, lift=3.2593558198902826), OrderedStatistic(items_base=frozenset({'tomato juice'}), items_add=frozenset({'fresh bread'}), confidence=0.14035087719298245, lift=3.2593558198902826)]),
 RelationRecord(items=frozenset({'fresh tuna', 'honey'}), support=0.003999466737768298, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fresh tuna'}), items_add=frozenset({'honey'}), confidence=0.17964071856287428, lift=3.7850703088205613), OrderedStatistic(items_base=frozenset({'honey'}), items_add=frozenset({'fresh tuna'}), confidence=0.08426966292134831, lift=3.7850703088205613)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569), OrderedStatistic(items_base=frozenset({'honey'}), items_add=frozenset({'fromage blanc'}), confidence=0.0702247191011236, lift=5.16427076448557)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef'}), items_add=frozenset({'herb & pepper'}), confidence=0.1628222523744912, lift=3.291993841134928), OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef'}), items_add=frozenset({'tomato sauce'}), confidence=0.054274084124830396, lift=3.840659481324083), OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'olive oil', 'light cream'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]),
 RelationRecord(items=frozenset({'olive oil', 'whole wheat pasta'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'olive oil'}), items_add=frozenset({'whole wheat pasta'}), confidence=0.12145748987854252, lift=4.1224100976422955), OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896), OrderedStatistic(items_base=frozenset({'shrimp'}), items_add=frozenset({'pasta'}), confidence=0.0708955223880597, lift=4.506672147735896)])]

## **Putting the results well organized into a Pandas Dataframe**

In [ ]:
def inspect(results):                # Function to get the infos from the apriori method 
  lhs = next(iter(results[2][0][0])) # Getting the principal item to be bought
  rhs = next(iter(results[2][0][1])) # Getting the secondary item to be bought
  supports = results[1]              # Getting the support factor for this rule
  
  return list([lhs, rhs, supports]) # Creating a list with the values extracted from the RelationRecord object.

In [ ]:
results_new = []             # Creating a list to aggregate information
for result in results:       # Looping through the Apriori Object
  results_new.append(inspect(result)) # Appendin the info to the list

In [ ]:
resultsinDataFrame = pd.DataFrame(results_new, columns=['Product 1','Product 2','Support']) # Creating the DATAFRAME

## **Displaying non sorted results**

In [ ]:
resultsinDataFrame

        Product 1             Product 2   Support
0        brownies        cottage cheese  0.003466
1         chicken           light cream  0.004533
2        escalope  mushroom cream sauce  0.005733
3        escalope                 pasta  0.005866
4     fresh bread          tomato juice  0.004266
5      fresh tuna                 honey  0.003999
6   fromage blanc                 honey  0.003333
7     ground beef         herb & pepper  0.015998
8     ground beef          tomato sauce  0.005333
9     light cream             olive oil  0.003200
10      olive oil     whole wheat pasta  0.007999
11          pasta                shrimp  0.005066

## **Displaying the results sorted by descending Supports**

In [ ]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support' )

      Product 1             Product 2   Support
7   ground beef         herb & pepper  0.015998
10    olive oil     whole wheat pasta  0.007999
3      escalope                 pasta  0.005866
2      escalope  mushroom cream sauce  0.005733
8   ground beef          tomato sauce  0.005333
11        pasta                shrimp  0.005066
1       chicken           light cream  0.004533
4   fresh bread          tomato juice  0.004266
5    fresh tuna                 honey  0.003999
0      brownies        cottage cheese  0.003466